@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Alice", serif;
}

body {
  margin: 0;
  background-color: #fcf7e9;
}

/*
#e76f51
#f4a261
#e9c46a
*/
